include: 
  - project: "${CI_PROJECT_NAMESPACE}/cicd/cicd-configuration"
    ref: ht-rework
    file: ".default-conf.yml"
    rules:
      - exists:
          paths:
            - .default-conf.yml
          project: "${CI_PROJECT_NAMESPACE}/cicd/cicd-configuration"
          ref: ht-rework
  - local: "clean-log.yml"
    rules:
      - exists:
          - clean-log.yml
  - local: "build-docker.yml"
    rules:
      - exists:
          - build-docker.yml
stages:
  - prepare
  - process
  - convert
  - execute
  - deploy
  - clean
  - trigger